#main {
  margin-top: 60px;
  min-height: calc(100vh - 60px - 105px);
}

.search-container {
  margin-bottom: 1.5rem;
}

.search-bar {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid #131313;
  border-radius: 0;
  box-shadow: 0;
  cursor: text;
}

.search-bar:focus {
  border-bottom: 2px solid #e62429;
  box-shadow: none;
}

.btn-danger {
  background-color: #e62429;
  transition: all 0.2s ease-in-out;
}

.btn-danger:hover {
  background-color: #ce141a;
}

.dropdown-menu-right {
  right: 0;
}

.characters-container {
  padding: 2rem;
}

.limit-divider {
  padding-left: 5px;
}

.limit-item {
  padding-left: 5px;
  cursor: pointer;
}

.limit-item:hover {
  background-color: #d3d3d3;
}
