#main {
  min-height: calc(100vh - 105px);
}

.px-0 {
  padding: 0px;
}

.header-details {
  background-image: url('../../../assets/img/banner.jpg');
  background-repeat: repeat-x;
}

.pro-img {
  margin-top: 140px;
  width: 180px;
  height: 180px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
}

.character-name {
  font-size: 3rem;
  font-weight: bold;
}

.character-description {
  font-size: 1.6rem;
}

.title {
  font-weight: bold;
}

hr.solid {
  border-top: 2px solid rgb(150, 0, 0);
}

.no-events {
  font-size: 1.7rem;
}

.last-btn {
  margin-bottom: 20px;
}

/* large devices: 992 > */
@media (min-width: 992px) {
  .margin-top {
    margin-top: 80px;
  }

  .text-md-left {
    text-align: left;
  }

  .pro-img {
    margin-top: 120px;
    margin-left: 60px;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 100%;
  }

  .character-name {
    margin-top: -190px;
    margin-left: 290px;
    color: #f6f6f6;
    font-size: 5rem;
    font-weight: bold;
  }

  .character-description {
    max-width: calc(100% - 500px);
    margin-top: -20px;
    margin-left: 290px;
    padding: 12px;
    border-radius: 8px;
    background-color: #f6f6f6;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    font-size: 1.6rem;
  }
}
