<div class="thumbnail thumbnail-events text-center sm-height md-height">
  <div class="caption">
    <img
      id="detail-image"
      ng-src="{{ctrl.event.thumbnail.path + '/standard_fantastic.jpg'}}"
      alt="Event image"
    />
  </div>
  <div class="content">
    <h3 id="title">{{ctrl.event.title}}</h3>
    <p>
      <a
        id="view-more"
        href="https://www.google.com/search?q=event+marvel+{{ctrl.event.title}}"
        target="_blank"
        >View more <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span
      ></a>
    </p>
  </div>
</div>
