#title {
  font-weight: 700;
  max-width: calc(100% - 2px);
}

#description {
  max-width: calc(100% - 2px);
}

.character-container {
  height: auto;
}

.details-link {
  bottom: 0;
  cursor: pointer;
  color: #d43f3a;
}

.details-link:hover {
  color: #c02f2a;
}

.thumbnail:hover {
  border: 2px solid #c02f2a;
}

/* medium devices: 768 > */
@media (min-width: 768px) {
  .character-container {
    height: 660px;
  }
}
