.thumbnail {
  transition: 0.3s;
}

.thumbnail:hover {
  transform: translateY(-10px);
}

.thumbnail-characters {
  background: #f6f6f6;
  box-shadow: 2px 2px 10px #bebebe;
  border: 1.5px solid #d43f3a;
  border-radius: 10px;
}

#title {
  font-weight: 700;
  max-width: calc(100% - 2px);
}

#description {
  max-width: calc(100% - 2px);
}

.character-container {
  height: auto;
}

.details-link {
  bottom: 0;
  cursor: pointer;
  color: #d43f3a;
}

.details-link:hover {
  color: #c02f2a;
}

/* medium devices: 768 > */
@media (min-width: 768px) {
  .character-container {
    height: 660px;
  }
}
