.thumbnail {
  position: relative;
}

.thumbnail-series {
  background-size: 500px;
  background-position: center;
  background: #e6e6e6;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border: 1px solid #d43f3a;
  border-radius: 20px;
}

#view-more {
  color: #d43f3a;
}

/* large devices: 992 > */
@media (min-width: 992px) {
  .md-height {
    height: 500px;
  }
}

/* medium devices: 767 > */
@media (min-width: 767px) {
  .sm-height {
    height: 500px;
  }

  #view-more {
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}
