.thumbnail {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
}

.thumbnail:hover {
  border: 2px solid #c02f2a;
}

.thumbnail-stories {
  background-image: url('../../../../../../assets/img/bg-details-stories.png');
  background-size: 800px;
  background-position: center;
}

.title {
  max-width: calc(100% - 5px);
}

/* large devices: 992 > */
@media (min-width: 992px) {
  .md-height {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
  }
}

/* medium devices: 767 > */
@media (min-width: 767px) {
  .sm-height {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
  }
}
