<div class="thumbnail thumbnail-stories text-center sm-height md-height">
  <div class="caption">
    <img
      id="detail-image"
      ng-src="https://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available/standard_xlarge.jpg"
      alt="Story image"
      width="200px"
    />
  </div>
  <div class="content">
    <h3 id="title">{{ctrl.story.title}}</h3>
    <a
      id="view-more"
      href="https://www.google.com/search?q=story+marvel+{{ctrl.story.title}}"
      target="_blank"
      >View more <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span
    ></a>
  </div>
</div>
