<div class="thumbnail thumbnail-stories text-center sm-height md-height">
  <div class="caption">
    <img
      class="img-rounded"
      ng-src="http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available/standard_xlarge.jpg"
      alt="Story image"
      width="200px"
    />
    <h3 class="title">{{ctrl.story.title}}</h3>
    <p>
      <a
        id="view-more"
        href="https://www.google.com/search?q=story+marvel+{{ctrl.story.title}}"
        target="_blank"
        >View more <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span
      ></a>
    </p>
  </div>
</div>
